[submodule "web3/lib/forge-std"]
	path = web3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "web3/contracts/utils/diamonds"]
	path = web3/contracts/utils/diamonds
	url = https://github.com/mudgen/diamond-3-hardhat
