node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

.idea
.env
node_modules
yarn.lock
artifacts
typechain-types
cache
coverage
coverage.json
.DS_Store
.vscode
out
cache_forge
forge-artifacts

# protocol
bin/

# Custom
dev.env
prod.env
.secrets/
