[submodule "web3/lib/forge-std"]
	path = web3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "web3/contracts/drops/diamond-3-hardhat"]
	path = web3/contracts/drops/diamond-3-hardhat
	url = https://github.com/mudgen/diamond-3-hardhat.git
[submodule "web3/contracts/drops/terminus/diamond-3-hardhat"]
	path = web3/contracts/drops/terminus/diamond-3-hardhat
	url = https://github.com/mudgen/diamond-3-hardhat.git
