
.container {
    display: flex;
    width: 678px;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 12px;
    background: var(--Base-White, #FFF);
    box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
    position: relative;
    font-family: Inter, sans-serif;
}

.header {
    display: flex;
    padding: 24px 24px 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-bottom: 1px solid #393939;
    background: var(--Base-White, #FFF);
}


.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    color: var(--Gray-900, #101828);

    /* Text lg/Semibold */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}

.supportingText {
    align-self: stretch;

    color: var(--Gray-600, #475467);

    /* Text sm/Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.closeButton {
    display: flex;
    /*padding: 10px;*/
    justify-content: center;
    align-items: center;

    /*position: absolute;*/
    /*right: 16px;*/
    /*top: 16px;*/

    border-radius: 8px;
    cursor: pointer;
    stroke: #B9B9B9;

}
.closeButton:hover {
    stroke: #fff;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    width: 100%;
    max-height: 320px;
    overflow-y: auto;
}
.item, .itemWithoutBorder {
    display: flex;
    padding: 16px 0 15px;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    align-self: stretch;
    width: 100%;

    border-bottom: 1px solid #393939;
}

.itemWithoutBorder {
    border: none;
    padding: 16px 0 16px;

}


.itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    text-transform: capitalize;
}

.itemHeaderLeft {
    display: flex;
    align-items: center;
    gap: 8px;
}

.itemHeaderTitle {
    color: var(--Gray-700, #344054);

    /* Text md/Semibold */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.explorerLink {
    text-decoration: none;
}

.badgeCompleted, .badgeClaimable, .badgePending, .badgeFailed {
    display: flex;
    padding: 2px 8px;
    align-items: center;

    border-radius: 16px;
    mix-blend-mode: var(--mix-blend, multiply);
    text-align: center;

    /* Text xs/Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    text-transform: capitalize;
}

.badgeClaimable, .toastClaimable {
    color: var(--Warning-700, #B54708);
    background: var(--Warning-50, #FFFAEB);
}
.badgeClaimable:hover, .toastClaimable:hover {
    background: var(--Warning-100, #FEF0C7);
}

.badgeCompleted, .toastCompleted {
    color: var(--Success-700, #027a48);
    background: var(--Success-50, #ecfdf3);
}
.badgeCompleted:hover, .toastCompleted:hover {
    background: var(--Success-100, #D1FADF);
}

.badgePending {
    color: var(--Blue-700, #175cd3);
    background: var(--Blue-50, #eff8ff);
}
.badgePending:hover {
    background: var(--Blue-100, #d1e9ff);
}

.badgeError, .toastError {
    color: var(--Error-700, #FEF3F2);
    background: var(--Error-50, #B42318);
}
.badgeError:hover, .toastError:hover {
    background: var(--Error-100, #FEE4E2);
}

.headerTime {
    color: #B9B9B9;

    /* Text sm/Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-transform: none;
}

.content {
    color: var(--Gray-600, #475467);

    /* Text sm/Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--Base-White, #ffffff);
    cursor: pointer;
    border: none;
    border-top: 1px solid var(--Gray-200, #EAECF0);
    color: var(--Gray-700, #344054);

    /* Text md/Semibold */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.button:hover {
    background: var(--Gray-25, #FCFCFD);
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
}
