.web3address {
    display: flex;color: var(--Gray-600, #475467);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-left: 8px;
}