.container {
    width: 100%;
    height: 100%;
}

.viewContainer {
    position: relative;
    height: 8000px;
}

.sticky {
    position: sticky;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1000;
    /*background-color: #101828;*/
}

.progressBar {
    position: absolute;
    right: 34px;
    top: 102px;
    z-index: 1001;
    height: calc(100% - 102px - 16px - 20px);
}


.fadeOut, .fadeIn {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.fadeIn {
    opacity: 1;
    scale: 1;
    transition: all 0.250s ease-out;
}

.fadeOut {
    opacity: 0;
    scale: 0.95;
    transition: all 0.250s ease-in-out;
}
