.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 6px;
    z-index: 1002;
    height: 100%;
}

.segment {
    /*height: 60px;*/
    /*height: 100%;*/
    flex: 1;
    width: 100%;
    background-color: #393939;
    z-index: 1002;
    border-radius: 100px;
}


.fill {
    border-radius: 100px;
    height: 100%;
    background-color: #F04438;
    z-index: 1003;
}
