.createPoolButton {
  cursor: pointer;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  /* Text sm/Semibold */
  color: var(--Base-White, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  border-radius: 8px;
  border: 1px solid var(--Primary-600, #ef233b);
  background: var(--Primary-600, #ef233b);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.modal {
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: var(--Base-White, #fff);
}

.header {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 28px; /* 155.556% */
}

.stepperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  padding-top: -10px;
}

.stepper {
  padding: 0px 0 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.step {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border-top: 4px solid var(--Primary-700, #dd1534);
  padding: 12px 0;
}

.stepLocked {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border-top: 4px solid var(--Gray-200, #eaecf0);
  padding: 12px 0;
}

.stepText {
  color: var(--Primary-700, #344054);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.stepTextLocked {
  color: var(--Gray-400, #98a2b3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.stepTextCompleted {
  color: var(--Gray-700, #dd1534);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.inputToggle {
  display: flex;
  width: 36px;
  height: 20px;
  padding: 2px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 12px;
  background: var(--Success-500, #12b76a)
}

.inputRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-self: stretch;
  padding-bottom: 16px;
  flex-grow: 1;
}

.inputRow .inputContainer {
  width: 50%;
  max-width: 50%;
}

.inputFieldContainer {
  display: flex;
  height: 128px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  padding-bottom: 16px;
}

.inputField {
  display: flex;
  padding: 12px 14px;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-100, #f2f4f7);
  background: var(--Base-White, #fff);
  resize: none;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: row;
  color: var(--Gray-700, #344054);

  /* Text sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.textInput {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  color: var(--Gray-500, #667085);

  /* Text md/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 8px;
  border: 1px solid var(--Gray-100, #f2f4f7);
  background: var(--Base-White, #fff);
}

.addressText {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;

  color: var(--Gray-500, #667085);

  /* Text md/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 8px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Base-White, #fff);
}

.border {
  border: 1px solid var(--Gray-100, #f2f4f7);
  width: calc(100% + 48px);
  margin-left: -24px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  padding: 12px 0px 0px 0px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.closeButton {
  display: flex;
  width: 100px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Base-White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}

.closeText {
  color: var(--Gray-700, #344054);

  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.nextButton {
  display: flex;
  width: 120px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Primary-600, #ef233b);
  background: var(--Primary-600, #ef233b);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}

.nextText {
  color: var(--Base-White, #fff);
  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
