.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 12px;
    border: 1px solid var(--Gray-200, #EAECF0);
    background: var(--Base-White, #FFF);
    box-shadow: 0 1px 3px 0 rgba(16, 24, 40, 0.10), 0 1px 2px 0 rgba(16, 24, 40, 0.06);
}

.header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    border-radius: 12px 12px 0 0;

    padding: 16px 12px 12px 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    background: #F9FBFB;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    overflow: hidden;
    color: var(--Gray-700, #344054);
    text-overflow: ellipsis;

    /* Text md/Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.amount {
    color: var(--Gray-700, #344054);
    text-align: right;

    /* Text md/Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.dataRow {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    border-top: 1px solid var(--Gray-200, #EAECF0);
}


.dataText, .dataTextBold {
    overflow: hidden;
    color: var(--Gray-700, #344054);
    text-overflow: ellipsis;

    /* Text sm/Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.dataTextBold {
    font-weight: 600;
}

.button {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    color: var(--Gray-700, #344054);
    text-align: center;

    /* Text sm/Semibold */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    border: none;
    border-top: 1px solid #EAECF0;
    background: #FFF;
    border-radius: 0 0 12px 12px;
}
