.tableStyles {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 12px;
}

.thStyles {
  padding: 12px 24px;
  border-top: 1px solid var(--Gray-200, #eaecf0);
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
  background-color: #f9fafb;
  text-align: left;
  color: var(--Gray-600, #475467);
  /* Text xs/Medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.thStylesWidth {
  padding: 12px 24px;
  border-top: 1px solid var(--Gray-200, #eaecf0);
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
  background: #f9fafb;
  text-align: left;
  color: var(--Gray-600, #475467);
  /* Text xs/Medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  width: 195px;
}

.tdStyles {
  padding: 16px 24px;
  text-align: left;
  height: 72px;
  align-items: center;
}

tr:last-child {
  border-bottom: none;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

/* when data is loading, show this th style
tr:not(:has(td)) th:last-child {
  border-bottom-right-radius: 12px;
  border-bottom: none;
}
tr:not(:has(td)) th:last-child {
  border-bottom-right-radius: 12px;
  border-bottom: none;
}

/* when data is loading, show this th style */
/* tr:not(:has(td)) th {
  border-bottom: none;
} */ */

.trStyles {
  background-color: #FFFFFF;
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.trStyles:nth-child(even) {
  background-color: #F9FAFB;
}

.poolsContainer {
  border-radius: 12px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Base-White, #fff);
  box-shadow:
    0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}

.headerContainer {
  /* display: flex; */
  padding: 20px 24px 0px 24px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.header {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
  align-self: stretch;
  /* Text lg/Semibold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.subtitle {
  align-self: stretch;
  color: var(--Gray-600, #475467);
  /* Text sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.gap {
  margin-bottom: 20px;
}
