.tableStyles {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.thStyles {
  background-color: #f8f8f8;
  color: #333;
  padding: 12px 15px;
  border-bottom: 2px solid #ddd;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tdStyles {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.trStyles {
  background-color: #f9f9f9;
}

.trStyles:nth-child(even) {
  background-color: #f1f1f1;
}