.container {
  display: flex;
  width: 100%;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid var(--Primary-600, #ef233b);
  background: var(--Primary-600, #ef233b);

  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

  height: 40px;
  cursor: pointer;

}

.buttonLabel, .buttonLabelLoading {
  color: var(--Primary-200, #ffffff);

  /* Text sm/Semibold */

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  text-transform: capitalize;
}

.buttonLabelLoading {
  opacity: 0.7;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotatable {
  display: inline-block;
  animation-duration: 2s;
  animation-name: rotateAnimation;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.container:hover {
  border: 1px solid var(--Primary-600, #ef233b);
  background: var(--Primary-700, #dd1534);
  transition: all linear 200ms;

  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.container:focus-visible {
  border-radius: 8px;
  border: 1px solid var(--Primary-700, #dd1534);
  background: var(--Primary-700, #dd1534);
  outline: none;

  /* Shadow/xs focused 4px primary-100 */
  box-shadow:
    0 1px 2px 0 rgba(16, 24, 40, 0.05),
    0 0 0 4px rgba(221, 21, 52, 0.05);
  transition: all linear 200ms;
}

.container:disabled {
  border-radius: 8px;
  background: var(--Gray-600, #475467);
  cursor: not-allowed;
  border: none;
}

/*Mantine */

.body {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;

  background: var(--Base-White, #FFF);
  border: 1px solid var(--Base-White, #FFF);

  /* Shadow/xl */
  box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
}
