.container {
  display: flex;
  width: 660px;
  max-width: 660px;
  padding: 19px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  border-radius: 8px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Gray-50, #f9fafb);
}


.headerContainer {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.title {
  color: var(--Gray-900, #101828);

  /* Text lg/Semibold */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.subtitle {
  color: var(--Gray-600, #475467);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.directionContainer {
  padding: 3px;
  gap: 8px;
  border-radius: 8px;
  display: flex;
  background: var(--Base-White, #ffffff);
  border: 1px solid var(--Gray-100, #f2f4f7);
  width: 100%;
}

.selectedDirectionButton,
.directionButton {
  flex: 1;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.selectedDirectionButton {
  background: var(--Primary-600, #EF233B);
  color: var(--Base-White, #ffffff);
}

.directionButton {
  background: transparent;
  color: var(--Gray-600, #475467);
}

.networksContainer {
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid var(--Gray-100, #f2f4f7);
  background: var(--Base-White, #ffffff);
}

.networkSelect {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}
.label {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--Gray-500, #667085);
  min-width: 30px;
}

.networkSelectSelect {
  padding: 3px 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: var(--Base-White, #ffffff);

  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: var(--Gray-700, #344054);

  /* Text sm/Medium */
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  width: 100%;
}

.networkSelectSelect:hover {
  background: var(--Gray-25, #FCFCFD);
}

.networkSelectNetworkName {
  color: var(--Gray-700, #344054);
}

.network {
  max-height: 44px;
  display: flex;
  padding: 9px 13px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: var(--Base-White, #ffffff);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: var(--Gray-900, #101828);

  /* Text sm/Medium */
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.valueBlockContainer {
  padding: 12px;
  display: flex;
  place-self: stretch;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: var(--Base-White, #ffffff);
}

.valueContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  max-width: 20ch;
}

.valueInput {
  width: 415px;
  color: var(--Gray-600, #475467);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 0;
}

.valueUSD,
.balance,
.balanceHasChanged {
  color: #98a2b3;

  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  transition: all ease-in-out 1s;
}

.balanceHasChanged {
  color: #414657;
  /*transition: all ease-in-out 0.5s;*/
}

.symbolContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  align-items: flex-end;
}

.symbol {
  width: fit-content;
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: var(--Base-White, #ffffff);

  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color:  var(--Gray-700, #344054);

  /* Text sm/Semibold */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.balanceContainer {
  display: flex;
  gap: 8px;
}

.maxButton {
  color: var(--Primary-700, #dd1534);
  padding: 0;
  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  border: none;
  background: transparent;
  cursor: pointer;
}

.networkErrorMessage {
  align-self: stretch;

  color: var(--Error-600, #D92D20);

  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

@media (max-width: 767px) {
    .container {
      width: 100%;
      padding: 15px;
    }
  .networksContainer {
    flex-direction: column;
    gap: 20px;
  }
  .networkSelect {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 12px
  }
  .arrowIcon {
    display: none;
  }
}
