.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Base-White, #FFF);
    border-radius: 8px;
    border: 1px solid var(--Gray-100, #F2F4F7);
}


.button {
    display: flex;
    width: 620px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Gray-100, #F2F4F7);
    cursor: pointer;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.button:hover {
    background: var(--Gray-25, #FCFCFD);
}

.buttonLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Gray-700, #344054);

    /* Text xs/Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.icon, .iconRotated {
    width: 16px;
    height: 16px;
    transition: 0.3s ease-in-out;
}

.iconRotated {
    transform: rotate(45deg);
}

.expandedContainer {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.messageHeader {
    display: flex;
    place-self: stretch;
    justify-content: space-between;
    color: var(--Gray-600, #475467);

    /* Text xs/Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.errorMessage {
    color: var(--Error-600, #d92d20);
    text-align: right;

    /* Text xs/Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}


.messageInput, .addressInput {

    display: flex;
    padding: 12px 14px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid var(--Gray-100, #F2F4F7);
    background: var(--Base-White, #FFF);


    flex: 1 0 0;

    color: var(--Gray-500, #667085);

    /* Text sm/Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    outline: none;
    resize: none;
}

.messageInput {
    min-height: 82px;
}

.messageInput:focus-visible {
    outline: none;
}

.addressInput {
    padding: 8px 12px;
}

.inputError {
    border: 1px solid var(--Error-500, #F04438);
}

@media (max-width: 767px) {
    .button {
        width: 100%;
    }
}

