.container {
  position: fixed;
  z-index: 301;
  display: flex;
  padding: 12px 8px 12px 16px;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 64px;
  align-self: stretch;

  border-bottom: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Base-White, #fff);
}

.networkAndIconContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.networkBadge {
  display: flex;
  padding: 2px 6px;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  border: 1px solid #fe7071;
  color: #fe7071;
  text-align: center;

  /* Text xs/Medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.networkTestnet {
  border: 1px solid #b3b8db;
  color: #b3b8db;
  text-align: center;
}

.networkMainnet {
  border: 1px solid #fe7071;
  color: #fe7071;
  text-align: center;
}

.iconContainer {
  padding: 8px;
  line-height: 1;
}

.expanded {
  position: fixed;
  top: 64px;
  z-index: 300;
  width: 100vw;
  height: calc(100vh);
  background-color: rgba(11, 11, 11, 0.8);
  backdrop-filter: blur(4px);
}

.spacer {
  height: 24px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(46, 46, 46, 0.7);
}

.navigation {
  display: flex;
  padding: 24px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.web3AddressContainer {
  display: flex;
  padding: 24px 8px 0 8px;
  align-items: center;
  gap: 47px;
  align-self: stretch;
  justify-content: space-between;
  height: 60px;
}
