.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 1096px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  border-radius: 12px;
  border-top: 1px solid var(--Gray-200, #eaecf0);
  border-left: 1px solid var(--Gray-200, #eaecf0);
  border-right: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Gray-25, #ffffff);

  /* Shadow/sm */
  box-shadow:
    0 1px 3px 0 rgba(16, 24, 40, 0.1),
    0 1px 2px 0 rgba(16, 24, 40, 0.06);
  overflow-y: auto;
  flex-grow: 0;
}

.filtersContainer {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.filterButtons {
  display: flex;
  gap: 0;
}

.filterButtonLeft,
.filterButtonRight {
  background-color: transparent;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #d0d5dd;
  color: var(--Gray-700, #344054);

  /* Text sm/Semibold */
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.filterButtonLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.filterButtonRight {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 0.5px solid #d0d5dd;
}

.filterButtonSelected {
  background-color: #f9fafb;
}

.transactions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.withdrawalContainer {
  display: flex;
  background-color: var(--Gray-900, #101828);
}

.withdrawsGrid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  width: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 282px);
}

.noTransactions {
  display: flex;
  padding: 40px 32px 48px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: var(--Gray-600, #475467);
  text-align: center;

  /* Text sm/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  grid-column: span 7;
}

.gridItem,
.gridItemImportant {
  position: relative;
  display: flex;
  height: 72px;
  padding: 16px 24px;
  align-items: center;
  align-self: stretch;
  color: var(--Gray-700, #344054);

  /* Text sm/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
}

.clickable {
  cursor: pointer;
}

.gridItemImportant {
  color: var(--Gray-700, #344054);
  text-align: center;

  /* Text sm/Semibold */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.gridItemChild {
  display: flex;
  height: 72px;
  padding-left: 40px;
  align-items: center;
  align-self: stretch;
  color: var(--Gray-700, #344054);
  background: var(--Base-White, #eaecf0);

  /* Text sm/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
}

.gridItemInitiate {
  position: relative;
  display: flex;
  height: 72px;
  padding: 16px 24px !important;
  align-items: center;
  align-self: stretch;
  color: var(--Gray-700, #344054);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Base-White, #eaecf0);
}

.gridNodeCompleted {
  position: absolute;
  left: 14px;
  top: 36px;
  stroke-width: 1px;
  stroke: #393939;
}

.timeCenter {
  text-align: center;
}

.transactionsHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  height: 44px;
  padding: 12px 24px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Gray-60, #f9fafb);
  color: var(--Gray-600, #475467);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.typeWithdrawal {
  display: flex;
  padding: 2px 8px 2px 6px;
  align-items: center;
  gap: 4px;

  border-radius: 16px;
  background: var(--Blue-light-50, #f0f9ff);
  mix-blend-mode: var(--mix-blend, multiply);

  color: var(--Blue-light-700, #026aa2);
  text-align: center;

  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.typeCompleted {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  border-radius: 16px;
  background: var(--Gray-60, #393939);
  color: var(--Gray-700, #344054);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.typeDeposit {
  display: flex;
  padding: 2px 6px 2px 8px;
  align-items: center;
  gap: 4px;

  border-radius: 16px;
  background: var(--Indigo-50, #eef4ff);
  mix-blend-mode: var(--mix-blend, multiply);
  color: var(--Indigo-700, #3538cd);
  text-align: center;

  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.pending,
.claimable,
.settled,
.loading {
  display: inline-flex;
  padding: 2px 6px 2px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 16px;

  text-align: center;

  /* Text xs/Medium */
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}

.pending {
  background: var(--Blue-50, #eff8ff);
  color: var(--Primary-200, #175cd3);
}

.claimable {
  background: var(--Warning-50, #fffaeb);
  color: var(--Warning-700, #b54708);
}

.settled {
  background: var(--Success-100, #ecfdf3);
  color: var(--Success-700, #027a48);
}

@keyframes blink {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #4f4f4f;
  }
  100% {
    background-color: #393939;
  }
}

.loading {
  background: #393939;
  gap: 4px;
  padding: 2px 10px 2px 10px;
  animation: blink 1s infinite;
}

.pending:hover {
  background: var(--Blue-100, #eff8ff);
}

.claimable:hover {
  background: var(--Warning-100, #fffaeb);
}

.settled:hover {
  background: var(--Success-50, #ecfdf3);
}

.claimButton {
  height: 28px;
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid var(--Primary-600, #ef233b);
  background: var(--Primary-600, #ef233b);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;

  /* Text sm/Semibold */
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  cursor: pointer;
  white-space: nowrap;
  width: 100px;
}

.explorerLink {
  text-decoration: none;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg) scale(0.9);
  }
  25% {
    transform: rotate(90deg) scale(1.05);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  75% {
    transform: rotate(270deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg) scale(0.9);
  }
}

.rotatable {
  display: inline-block;
  animation-duration: 2s;
  animation-name: rotateAnimation;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrowUp {
  stroke: var(--Arrow-Up, #fff);
}
