# FontAwesome specific configuration
@fortawesome:registry=https://npm.fontawesome.com/
@fortawesome:always-auth=true
@awesome.me:registry=https://npm.fontawesome.com/
@awesome.me:always-auth=true
//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}
