  .container {
  display: flex;
  width: 660px;
  max-width: 660px;
  padding: 19px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  border-radius: 8px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Gray-50, #f9fafb);
}

.headerContainer {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.title {
  color: var(--Gray-900, #101828);
  /* Text lg/Semibold */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.subtitle {
  color: var(--Gray-600, #475467);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.label {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #475467;
  min-width: 30px;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-self: stretch;
  border-radius: 8px;
}

.networkErrorMessage {
  align-self: stretch;

  color: var(--Error-600, #d92d20);

  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 15px;
  }
  .networksContainer {
    flex-direction: column;
    gap: 20px;
  }
  .networkSelect {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 12px;
  }
  .arrowIcon {
    display: none;
  }
}
