html,
body {
  overscroll-behavior: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: auto;
  -webkit-scrollbar: none;
}


.mainLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 200px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background-color: #1b1b1b;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: justify-content 0.3s ease;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

.container {
  width: 100%;
  height: 100%;
}

.viewContainer {
  position: relative;
}

.legalHeader {
  display: flex;
  height: 500px;
  padding: 100px 80px 24px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: url(<path-to-image>) lightgray 0% 0% / 50px 50px repeat, #1D1D1D;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.titleHeader {
  color: var(--white-500, #F2F7F2);
  text-align: center;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
  /* 120% */
  letter-spacing: -1.6px;
  text-transform: capitalize;
}

.lastUpdated {
  color: var(--white-600, #CBCFCB);
  text-align: center;

  /* text/description/web */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}

.legalMain {
  display: flex;
  width: 100%;
  padding: 32px 56px 100px 56px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.legalSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.legalTitle {
  color: var(--white-500, #F2F7F2);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 125% */
  letter-spacing: -0.96px;
  text-transform: capitalize;
}

.legalContent {
  align-self: stretch;
  color: var(--white-600, #CBCFCB);

  /* text/description/web */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}


.layout {
  display: flex;
  width: 100vw;
  height: 100svh;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  background: #171717;
  cursor: url('../../assets/cursor.svg'), auto;
  overflow: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: justify-content 0.3s ease;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

.layout.darkened {
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent dark overlay */
  pointer-events: none;
  /* Prevent interactions with the background */
}

.navbarContainer {
  display: flex;
  max-width: 1920px;
  padding: 4px 0px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.navbarItemsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbarItems {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navbarItem {
  cursor: url('../../assets/hand.svg'), pointer;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  color: #d5d5d5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.navbarItemHome {
  cursor: url('../../assets/hand.svg'), pointer;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.navbarCTA {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #f04438;
  background: #f04438;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.navbarCTA:hover {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: linear-gradient(147deg, #f04438 11.16%, #fff 142.48%);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}


.logoWrapper {
  cursor: url('../../assets/hand.svg'), pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.themeSwitchButton {
  cursor: url('../../assets/hand.svg'), pointer;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
}

.mainLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 200px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background-color: #1b1b1b;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: justify-content 0.3s ease;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

.mainLayoutStart {
  justify-content: start;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.titleText {
  align-self: stretch;
  color: #f9fafb;
  text-align: center;
  font-family: Inter;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.subtitleText {
  color: #b9b9b9;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  align-self: stretch;
}

.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.scrollBarsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

.sectionTitle {
  align-self: stretch;
  color: #f9fafb;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 125% */
  letter-spacing: -0.96px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 100%;
  max-width: 400px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  border: 1px solid #727272;
  background: #171717;
  height: 100%;
  max-height: 426px;
  flex: 1 0 0;
}

.cardTitle {
  color: #f9fafb;

  /* Display xs Medium */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
}

.cardImage {
  height: 178px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #393939;
}

.cardImageGamers {
  background: url('../../assets/G7ReachGamersDark.jpg') lightgray 50% / cover no-repeat;
}

.cardImageLightningQuick {
  background: url('../../assets/G7LightningQuickDark.jpg') lightgray 50% / cover no-repeat;
}

.cardImageSpecialEcon {
  background: url('../../assets/G7SpecialEconZoneDark.jpg') lightgray 50% / cover no-repeat;
}

.cardDescription {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: var(--20px, 20px);
  align-self: stretch;
  color: #b9b9b9;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  border-radius: 12px;
  border: 1px solid #727272;
  flex-grow: 1;
  justify-content: center;
}

.sponsorCards {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.sponsorCard {
  display: flex;
  height: 120px;
  width: 220px;
  padding: 31.231px 37.218px 31.257px 37.75px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #727272;
  background: #171717;
  backdrop-filter: blur(0.6990200281143188px);
}

.sponsorCard:hover {
  cursor: url('../../assets/hand.svg'), pointer;
  border: 1px solid #f04438;
}

.sponsorCardImage {
  display: flex;
  padding: 8.627px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.313px;
}

.summonLogoContainer {
  display: flex;
  height: 28px;
  padding: 0px 5.637px 0px 0.734px;
  align-items: flex-start;
  gap: 14.826px;
  flex-shrink: 0;
}

.networkEssentialCards {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  justify-content: center;
  scrollbar-width: none;
  flex-wrap: wrap;
}

.networkEssentialCards::-webkit-scrollbar {
  display: none;
}

.networkEssentialCard {
  display: flex;
  width: 100%;
  max-width: 340px;
  height: 422px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  background: #0b0b0b;
  border: 1px solid #727272;
}

.networkEssentialCard:hover {
  cursor: url('../../assets/hand.svg'), pointer;
  border: 1px solid #f04438;
}

.networkEssentialCardImage {
  width: 292px;
  height: 178px;
  cursor: url('../../assets/hand.svg'), pointer;
  border-radius: 12px;
  border: 1px solid #393939;
  height: 178px;
  align-self: stretch;
  width: 100%;
}

.networkEssentialFaucet {
  background: url('../../assets/G7FaucetCardDark.jpg') 50% / cover no-repeat;
  background-size: contain;
}

.networkEssentialBridge {
  background: url('../../assets/G7BridgeCardDark.jpg') 50% / cover no-repeat;
  background-size: contain;
}

.networkEssentialExplorer {
  background: url('../../assets/G7ExplorerCardDark.jpg') 50% / cover no-repeat;
  background-size: contain;
}

.networkEssentialDocs {
  background: url('../../assets/G7DocsCardDark.jpg') 50% / cover no-repeat;
  background-size: contain;
}

.networkEssentialDiscord {
  background: url('../../assets/G7DiscordCardDark.jpg') 50% / cover no-repeat;
  background-size: contain;
}

.networkEssentialCardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  cursor: url('../../assets/hand.svg'), pointer;
}

.networkEssentialCardTitle {
  color: #f9fafb;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
  cursor: url('../../assets/hand.svg'), pointer;
}

.networkEssentialCardDescription {
  color: #b9b9b9;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  cursor: url('../../assets/hand.svg'), pointer;
}

.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  height: var(--Landing-Page-First-Section-Height-Tablet);
  flex: 1 0 auto;
}

.secondSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex: 1 0 auto;
}

.thirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex: 1 0 auto;
}

@media (max-width: 750px) {
  .titleHeader {
    align-self: stretch;
    color: var(--white-500, #F2F7F2);
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 72px */
    letter-spacing: -1.2px;
    text-transform: capitalize;
  }
}


@media (max-width: 430px) {
  .titleHeader {
    color: var(--white-500, #F2F7F2);
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 57.6px */
    letter-spacing: -0.96px;
    text-transform: capitalize;
  }

  .legalMain {
    display: flex;
    padding: 32px 16px 60px 16px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }

  .legalTitle {
    color: var(--white-500, #F2F7F2);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.6px;
    text-transform: capitalize;
  }

  .legalContent {
    align-self: stretch;
    color: var(--white-600, #CBCFCB);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
}

.nodeList {
  list-style: none;
  padding: 0;
}

.nodeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  color: white;
}

.nodeName {
  flex: 2;
  font-weight: bold;
}

.nodeStatusOk {
  color: #0f0;
}

.nodeStatusError {
  color: #f00;
}

.blockNumber {
  flex: 1;
  text-align: right;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.timestampSection {
  margin-top: 20px;
}

.timestampSection h3 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

@media (max-width: 750px) {
  .layoutBlur::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
  }
}