.container,
.containerDisabled {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 7px 13px;

    border-radius: 8px;
    border: 1px solid #393939;
    background: #171717;
    color: #FFF;

    /* Text sm/Medium */
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    /* 142.857% */
    width: 100%;
    cursor: pointer;
}

.container:hover {
    background: var(--Gray-50, #F9FAFB);
}

.containerDisabled {
    cursor: not-allowed;
    background: #393939;
}

.value {
    flex: 1 0 0;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.tokenAmountContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.rightSection {
    display: flex;
    gap: 8px;
    align-content: center;
    position: relative;
}

.minButton {
    border: none;
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: var(--Base-Brand, #EF233C);
    color: var(--Primary-25, #FFFAFB);

    /* Text xs/Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 150% */
}

.minButton:disabled {
    background: var(--Error-500, #F04438);
    cursor: not-allowed;
}

.minButtonText { }

.minButtonTextDisabled {
    opacity: 0.7;
}

.chevron {
    stroke: var(--Gray-500, #667085);
}

.chevron:hover {
    stroke: var(--Gray-600, #475467);
}

.optionContainer {
    display: flex;
    padding: 10px 10px 10px 8px !important;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    width: 100%;
    border-radius: 6px;
}

.optionContainer:hover {
    background: var(--Gray-50, #F9FAFB) !important;
}

.dropdownContainer {
    border-radius: 8px !important;
    border: 1px solid var(--Gray-200, #EAECF0) !important;
    ;
    background: var(--Base-White, #FFF) !important;
    ;

    /* Shadow/lg */
    box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03) !important;
    ;
}

.optionPercent {
    color: var(--Gray-700, #344054);

    /* Text sm/Medium */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.optionValue {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--Gray-600, #475467);

    /* Text sm/Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    margin-right: auto;
}