.container {
  display: flex;
  width: 660px;
  max-width: 660px;
  padding: var(--20px, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--20px, 20px);

  border-radius: 8px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Gray-50, #f9fafb);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.networksContainer {
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid var(--Gray-100, #f2f4f7);
  background: var(--Base-White, #ffffff);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  align-self: stretch;

  color: var(--Gray-900, #101828);

  /* Text lg/Semibold */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.supportingText {
  align-self: stretch;
  color: var(--Gray-600, #475467);
  /* Text sm/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.networksContainer {
  padding: 3px;
  gap: 8px;
  border-radius: 6px;
  display: flex;
  background: var(--Base-White, #ffffff);
  border: 1px solid var(--Gray-100, #f2f4f7);
  width: 100%;
}

.selectedNetworkButton,
.networkButton {
  flex: 1;
  padding: 8px 12px;
  border-radius: 6px;
  font-family: Inter, serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.selectedNetworkButton {
  background: var(--Primary-600, #ef233b);
  color: var(--Base-White, #ffffff);
  transition:
    transform 0.4s ease-out,
    color,
    background-color 0.4s ease;
}

.networkButton {
  background: transparent;
  color: var(--Gray-600, #475467);
}

.addressContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  flex: 1 0 0;
}

.addressSelectorContainer {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  align-self: stretch;
}

.selectorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
  height: 100%;
}

.selectorWrapper {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-100, #f2f4f7);
  background: var(--Base-White, #fff);
}

.selector {
  flex: 1 0 0;
  color: var(--Gray-500, #667085);

  /* Text sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.selectorChevron {
  width: 16px;
  height: 16px;
}

.textSeparator {
  display: flex;
  width: 16px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  color: var(--Gray-600, #475467);
  /* Text sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.connectWalletButton {
  cursor: pointer;
  display: flex;
  height: 36px;
  padding: 8px var(--14px, 14px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Primary-50, #ffebef);
  background: var(--Primary-50, #ffebef);
}

.connectWalletText {
  color: var(--Primary-700, #dd1534);

  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.requestTokensButton {
  cursor: pointer;
  display: flex;
  height: 36px;
  padding: 8px var(--14px, 14px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Primary-600, #ef233b);
  background: var(--Primary-600, #ef233b);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.requestTokensButtonDisabled {
  cursor: not-allowed;
  display: flex;
  height: 36px;
  padding: 8px var(--14px, 14px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Gray-600, #475467);
  background: var(--Gray-600, #475467);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.requestTokensButtonText {
  color: var(--Base-White, #fff);

  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.label {
  color: var(--Gray-600, #475467);

  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.address,
.addressPlaceholder {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  height: 36px;

  border-radius: 8px;
  border: 1px solid var(--Gray-100, #f2f4f7);
  background: var(--Base-White, #fff);
  color: var(--Gray-700, var(--color-gray-Gray-700, #344054));

  /* Text sm/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.address {
  color: var(--Gray-700, #344054);
}

.address:focus {
  outline: none;
  box-shadow: none;
}

.hintBadge {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 16px;
  background: var(--Blue-50, #eff8ff);
  mix-blend-mode: var(--mix-blend, multiply);
  color: var(--Blue-700, #175cd3);
  text-align: center;

  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  user-select: none;
}

.button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid var(--Primary-600, #ef233b);
  background: var(--Primary-600, #ef233b);

  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: var(--Base-White, #fff);

  /* Text sm/Semibold */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.button:disabled {
  cursor: not-allowed;
  background: var(--Gray-600, #475467);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border: none;
}

.warningContainer,
.errorContainer {
  text-align: center;
  width: 100%;
  justify-content: center;
  padding: 2px 8px;
  align-items: center;
  gap: 4px;

  border-radius: 16px;
  background: var(--Warning-50, #fffaeb);
  mix-blend-mode: var(--mix-blend, multiply);
  color: var(--Warning-700, #b54708);

  /* Text xs/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.errorContainer {
  border-radius: 16px;
  background: var(--Error-50, #fef3f2);
  mix-blend-mode: var(--mix-blend, multiply);
  color: var(--Error-700, #b42318);
}

.availableFundsContainer {
  text-align: center;
  width: 100%;
  justify-content: center;
  padding: 2px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  color: var(--Success-700, #027a48);
  background: var(--Success-50, #ecfdf3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.time {
  display: inline-block;
  min-width: 11ch;
  white-space: nowrap;
  font-weight: 500;
  text-align: start;
}

.gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.gapBetween {
  width: 341px;
  height: 1px;
  background: #d0d5dd;
}

@media (max-width: 1199px) {
  .container {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--20px, 20px);
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-200, #eaecf0);
    background: var(--Gray-50, #f9fafb);
    width: 100%;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .addressSelectorContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }

  .selectorContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
  }

  .addressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
  }

  .address {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .connectWalletButton {
    display: flex;
    height: 36px;
    padding: 8px var(--14px, 14px);
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .textSeparator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
  }

  .bar {
    width: 100%;
    height: 1px;
    background: #d0d5dd;
  }
}
