.container {
    display: flex;
    width: 660px;
    max-width: 660px;
    padding: 19px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    border-radius: 8px;
    border: 1px solid var(--Gray-200, #EAECF0);
    background: var(--Gray-50, #F9FAFB);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    align-self: stretch;

    color: var(--Gray-900, #101828);

    /* Text lg/Semibold */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}

.supportingText {
    align-self: stretch;

    color: var(--Gray-600, #475467);

    /* Text sm/Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.networksContainer {
    padding: 3px;
    gap: 8px;
    border-radius: 6px;
    display: flex;
    background: var(--Base-White, #ffffff);
    border: 1px solid var(--Gray-100, #f2f4f7);
    width: 100%;
}


.selectedNetworkButton,
.networkButton {
    flex: 1;
    padding: 8px 12px;
    border-radius: 6px;
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border: none;
    cursor: pointer;

}

.selectedNetworkButton {
    background: var(--Primary-600, #EF233B);
    color: var(--Base-White, #ffffff);
    transition: transform 0.4s ease-out, color, background-color 0.4s ease;

}

.networkButton {
    background: transparent;
    color: var(--Gray-600, #475467);
}

.addressContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-self: stretch;
}

.label {
    color: var(--Gray-600, #475467);

    /* Text xs/Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.address, .addressPlaceholder {
    display: flex;
    padding: 7px 11px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid var(--Gray-100, #F2F4F7);
    background: var(--Base-White, #FFF);
    color: var(--Gray-500, #667085);

    /* Text sm/Regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.address {
    color: var(--Gray-700, #344054);
}

.hintBadge {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border-radius: 16px;
    background: var(--Blue-50, #EFF8FF);
    mix-blend-mode: var(--mix-blend, multiply);
    color: var(--Blue-700, #175CD3);
    text-align: center;

    /* Text xs/Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    user-select: none;
}

.button {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid var(--Primary-600, #EF233B);
    background: var(--Primary-600, #EF233B);

    /* Shadow/xs */
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    color: var(--Base-White, #FFF);

    /* Text sm/Semibold */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.button:disabled {
    cursor: not-allowed;
    background: var(--Gray-600, #475467);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    border: none;
}

.warningContainer, .errorContainer {
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 2px 8px;
    align-items: center;
    gap: 4px;

    border-radius: 16px;
    background: var(--Warning-50, #FFFAEB);
    mix-blend-mode: var(--mix-blend, multiply);
    color: var(--Warning-700, #B54708);

    /* Text xs/Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.errorContainer {
    border-radius: 16px;
    background: var(--Error-50, #FEF3F2);
    mix-blend-mode: var(--mix-blend, multiply);
    color: var(--Error-700, #B42318);
}

.time {
    display: inline-block;
    min-width: 11ch;
    white-space: nowrap;
    font-weight: 500;
    text-align: start;
}


@media (max-width: 1199px) {
    .container {
        width: 100vw;
        max-width: 100vw;
        border: none;
        border-top: 1px solid var(--Gray-200, #EAECF0);
        border-bottom: 1px solid var(--Gray-200, #EAECF0);
        background: var(--Gray-50, #F9FAFB);
        border-radius: 0;
    }
}
