.container {
    display: flex;
    gap: 20px;
}


.networkContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #777777;
    border-radius: 16px;
    padding: 16px;
    background-color: #d6c7de;
    color: #0a1a2f;
}


.tokenBalance {
    display: flex;
    gap: 8px;
}

.networkName {
/*font-weight: 700;*/
}

.networkNativeTokenSymbol {

}

.networkNativeTokenBalance {

}

.tokenContainer { margin-top: 10px; display: flex; flex-direction: column; gap: 15px; justify-content: start}

.tokenSymbol {}

.tokenBalance {}

.bridgerContainerWithdrawal, .bridgerContainerDeposit {gap: 4px; opacity: 0.8; position: relative; cursor: pointer; padding: 0; display: flex; flex-direction: column; justify-content: start;}
.bridgerContainerWithdrawal {
align-items: center;
}
.bridgerContainerWithdrawal:hover, .bridgerContainerDeposit:hover {
    opacity: 1;
    /*transform: scaleY(1.2);*/
}

.bridgerContainerDeposit:hover .runwayLights {
    opacity: 1; /* Make lights visible when the container is hovered */
}

.bridgerContainerDeposit:hover .light {
animation: moveLights 1s linear infinite;
}

.bridgerContainerWithdrawal:hover .runwayLights {
    opacity: 1; /* Make lights visible when the container is hovered */
}

.bridgerContainerWithdrawal:hover .light {
    animation: moveLights 1s linear infinite;
}


/*.bridgerDirection {font-size: 16px; font-weight: 700; margin-top: 10px;}*/

.bridgerAllowance {display: flex; align-items: center; justify-content: center; gap: 4px;}

.bridgerAllowanceText {font-size: 12px; }

.editIcon {
    padding: 8px;
}

.connectButton {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.editIcon:hover {
    padding: 7px;
    border: 1px solid #777;
}

.bridgerApproveButton {font-size: 12px;}

.bridgerTransferData {font-size: 12px;}

.bridgerFee {font-size: 12px; text-align: center}

.bridgerAmount {font-size: 12px;}

.runwayLights {
    display: flex;
    /*position: relative;*/
    overflow: hidden;
    opacity: 0.3;
    margin-left: -10px;
    justify-content: center;
}

.light {
    /*position: absolute;*/
    left: 0;
    top: 0;
    /*width: 2px;*/
    /*height: 2px;*/
    /*background: linear-gradient(90deg, yellow, red);*/
    /*border-radius: 50%;*/
    margin: 0 10px;
    /*animation: moveLights 1s linear infinite;*/
    font-size: 10px;
    font-weight: 700;
}

@keyframes moveLights {
    100% {
        opacity: 0.5;
        scale: 1;
    }
    0% {
        opacity: 1;
        scale: 1.5;
    }
}
