.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: auto;
    min-height: calc(100vh - 40px);
    padding: 20px 0;
}

.scaled {
    transform: scale(1.05);
}

.scaled20p {
    transform: scale(1.8);

}

.networksContainer {
    display: flex;
    gap: 60px;
    margin-left: 263px;
    border-left: 1px solid gray;
    padding-left: 40px;
}


.networkContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*padding: 16px;*/
    color: white;
}


.tokenBalance {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*gap: 4px;*/
    text-align: start;
    min-height: 74px;
    justify-content: start;
}

.tokenHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.networkName {
    border-radius: 12px;
    border: 1px solid #efc3c3;
    /*background-color: #000;*/
    font-weight: 700;
    font-size: 18px;
    color: #d5bebe;
    padding: 12px;
}

.networkNativeTokenSymbol {

}

.networkNativeTokenBalance {

}

.tokenContainer {
    border: 1px solid #efc3c3;
    border-radius: 16px;
    padding: 16px;
    background-color: #000;
    color: #dcc9d4;
    display: flex; flex-direction: column; gap: 15px;
    justify-content: start;
    min-width: 270px;
    min-height: 276px;
}


.tokenSymbol {text-align: start; width: 100%; font-weight: 700}
.bookIcon {
    stroke: #d5bebe;
    margin-left: auto;
    height: 20px;
    cursor: pointer;
}

.tokenBalanceNumber {text-align: start; width: 100%; font-size: 12px}

.allowance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bridgers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    min-height: 166px;
}

.bridgerContainerWithdrawal, .bridgerContainerDeposit {gap: 0; opacity: 0.9; position: relative; cursor: pointer; padding: 0; display: flex; flex-direction: column; justify-content: start; margin-bottom: auto}
.bridgerContainerWithdrawal {
align-items: center;
    margin-top: auto;
    margin-bottom: 0;
}
.bridgerContainerWithdrawal:hover, .bridgerContainerDeposit:hover {
    opacity: 1;
    color: #b25656;
    font-weight: 700;
    /*transform: scaleY(1.2);*/
}

.bridgerContainerDeposit:hover .runwayLights {
    opacity: 1; /* Make lights visible when the container is hovered */
}

.bridgerContainerDeposit:hover .light {
animation: moveLights 1s linear infinite;
}

.bridgerContainerWithdrawal:hover .runwayLights {
    opacity: 1; /* Make lights visible when the container is hovered */
}

.bridgerContainerWithdrawal:hover .light {
    animation: moveLights 0.8s linear infinite;
}


/*.bridgerDirection {font-size: 16px; font-weight: 700; margin-top: 10px;}*/

.bridgerAllowance {display: flex; align-items: center; justify-content: center; gap: 4px;}

.bridgerAllowanceText {font-size: 12px; }

.editIcon {
    cursor: pointer;
    padding: 8px;
}

.connectButton {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.editIcon:hover {
    padding: 7px;
    border: 1px solid #777;
}

.bridgerApproveButton {font-size: 12px;}

.bridgerTransferData {font-size: 12px;}

.bridgerFee {font-size: 10px; text-align: center; opacity: 1}

.bridgerAmount {font-size: 12px;}

.runwayLights {
    display: flex;
    color: #ceb0c1;
    /*position: relative;*/
    overflow: hidden;
    /*opacity: 0.5;*/
    margin-left: -10px;
    justify-content: center;
}

.light {
    /*position: absolute;*/
    left: 0;
    top: 0;
    /*width: 2px;*/
    /*height: 2px;*/
    /*background: linear-gradient(90deg, yellow, red);*/
    /*border-radius: 50%;*/
    margin: 0 10px;
    /*animation: moveLights 1s linear infinite;*/
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
}

@keyframes moveLights {
    100% {
        opacity: 0.5;
        scale: 1;
        color: red;
    }
    50% {
        color: #833939;
    }
    0% {
        opacity: 1;
        scale: 1.5;
        color: #ef9e9e;
    }
}

.spinner {
    place-self: center;
    width: 12px;
    height: 12px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #833939;
    border-right: 4px solid #833939;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
