LOCAL_ENV="true" # Set to true if you are running the API locally
AWS_ACCESS_KEY_ID="Access key ID" # AWS access key ID (only needed if LOCAL_ENV is true)
AWS_ACCESS_KEY_SECRET="Access key secret" # AWS access key secret (only needed if LOCAL_ENV is true)

PROTOCOL_API_AWS_KMS_KEY_ID="KMS key id (arn)" # AWS KMS key id (arn)
PROTOCOL_API_TOKEN_SENDER_ADDRESS="0x6601b6D6227985549dD571048B1ef180269ee9fC" # Contract address that will send the tokens
PROTOCOL_API_PORT="4000" # API port
PROTOCOL_API_HOST="localhost" # API host
GAME7_TESTNET_RPC_URL="https://rpc-game7-testnet-0ilneybprf.t.conduit.xyz" # Game7 testnet RPC URL

PROTOCOL_API_CORS_WHITELIST="https://game7.build,localhost:3000" # Comma separated list of allowed origins
PROTOCOL_API_BASE_URL="https://api.game7.build" # Base URL of the API

PROTOCOL_API_MOONSTREAM_V3_LABELS_DATABASE_URI="postgres://user:password@localhost:5432/dbname" # Moonstream v3 labels database URI